 header{
    position: fixed;
    height: 80px;
    width: 98.5%;

    top: 0;
    left: 0;
    right: 0;

    background-color: rgb(170, 187, 18);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;


    box-shadow: 0px 2px 4px rgba(44, 62, 88,0.15);
    padding: 10px;
 }


.dark-back-ground{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
      
}

#task-input {
    width: 100%;
    height: 50px;
    float: left;
    background: rgb(203, 224, 13) ;
    border-radius: 10px;
    border: 0px;
    outline: none;

    padding: 0 60px 0 0;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px ;
    
    color:black;
    font-family: Georgia, serif;
    font-size: 20px;



    appearance: none;
}

#task-button-input{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    
    border-radius: 25px;
    background: whitesmoke;
    font-size: 30px;
    color: rgb(170, 187, 18);
}


body {
    font-family: Georgia, serif;
    font-size: 30px;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin: 10px;

    background-color: rgb(211, 211, 211);
}


.box{
    padding-top: 80px;
}

.h2 {
    color: rgb(160, 177, 5);
    text-align: center;
}




#list-task{
    margin: 8%;
    margin-top: 5%;
    margin-bottom: 2%;
    border: 9px groove rgba(97,73,73,0.61);
    border-radius: 10%;
    background-color: white;
    padding-bottom: 5%;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5% ;
}


.list-head {

    margin-right: 0;
    border-bottom: 1px dotted black;
    padding-bottom: 5px;    
    padding-top: 5px;
}

.task {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 80% 25%;
    margin-right: 0;

    border-bottom: 1px solid black;
    padding-bottom: 5px;    
    padding-top: 5px;
    padding-bottom: 5px;

}

.task-info {
    content: 70%;
    padding-top: 10px ;
}

.button-wrapers {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 20px;

} 

.delete-button {
    color: rgb(226, 89, 9);
    background-color: white;

    position: relative;
    float: right ;

    height: 40px ;
    min-width: 10px;

    font-size: 20px;
    border: none;
    
}

.edit-button {
    color: rgb(170, 187, 18);
    background-color: white;

    position: relative;
    float: right ;

    height: 40px ;
    min-width: 10px;

    font-size: 20px;
    border: none;
    
}

.edit-submit{
    color: rgb(170, 187, 18);
    background-color: white;

    position: relative;
    float: right ;

    height: 40px ;
    min-width: 10px;

    font-size: 20px;
    border: none;

}

.edit-cancel{
    color: rgb(226, 89, 9);
    background-color: white;

    position: relative;
    float: right ;

    height: 40px ;
    min-width: 10px;

    font-size: 20px;
    border: none;

}

li input {
    width: 100%;
    height: 50px;
    float: left;
    background: rgb(185, 185, 78) ;
    border-radius: 10px;
    border: 0px;
    outline: none;

    padding: 0 60px 0 0;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px ;
    
    color:black;
    font-family: Georgia, serif;
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    color: black;
    font-size: 20px ;

    background-color: rgb(170, 187, 18);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    /* height: 130px; Dinamico en JS */
    width: 100%;

}
.button-display-info-cv {
    position: absolute;
    font-size: 30px;

    width: 50px;
    height: 50px;
    background-color: white;
    
    top: -30px;
    left: 47.5%;
    border-radius: 25px;
    color: rgb(160, 177, 5);
    font-size: 40px;

}
.button-hide-info-cv {
    position: absolute;
    font-size: 30px;

    width: 50px;
    height: 50px;
    background-color: white;
    
    top: -30px;
    left: 47.5%;
    border-radius: 25px;
    color: rgb(160, 177, 5);
    font-size: 40px;

}
.icone-wraper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-top: 10px;
}
.icone-wraper a {
    font-size: 45px;
    color: black;
}

.made-info{
    padding-top: 18px;
    text-align: center;
    font-size: 25px;
}
.linkedin{
    padding-left: 47.5%;
}
.whatsapp{
    padding-left: 47.5%;
}
.web {
    padding-left: 47.5%;
}

.actions-confirm{
    position: fixed;
    z-index: 100;
    background: white;
    border: 9px groove rgba(97,73,73,0.61);
    border-radius: 10%;     
    width: 80%;
    top: 30vh;
    left: 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 10px;
    /* display: none; */

}
.actions-confirm div{
    margin: auto;
    padding: 10px;
}

@media only screen and (max-width:800px) {
    body {
        /* transform: scale(2.5); */
        font-size: larger   ;
    }
}