<html>
    <head>
        <!DOCTYPE html>
        <title>To-do List</title>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="static/app.js" defer></script>
    </head>
    <body>
        <div>
            <span>
                <div>
                    <ul id="list-task">
                        <li>Tarea 1</li>
                        <li>Tarea 2</li>
                        <li>Tarea 3</li>
                    </ul>
                </div>
            </span>
            <span>
                <div id="task-from">
                    <input id="task-input" type="text" placeholder="Add your new task"> 
                    </input>
                    <button id="task-button-input">
                        <span>
                            Submit Task
                        </span>
                    </button>
                </div>
            </span>
        </div>




    </body>
    <footer>


    </footer>

</html>